

/***********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

}

a,
a:active,
a:visited {
  color: black;
}

body {
color: black;
font-size: 0.833em;
font-family: helvetica,arial,sans-serif;
margin: 0;
}

#page {
  background: #0F222B;
}

#site-name a {
text-indent: -9000px;
}

#slogan {
  font-size: 14px;
  line-height: 30px;
}

#slogan h3 {
  font-size: 20px;
  margin: 0;
}

#header {
height: 395px;
}

.grid-wrap {
width: 940px;
margin: 0 auto;
overflow: hidden;
}

#header-left {
display: inline;
float: left;
margin: 20px 0 0 20px;
width: 460px;
height: 395px;
position: relative;
}

#header-left img {
  width: 250px;
}

#header-right {
display: inline;
float: left;
margin-right: 20px;
width: 460px;
margin-right: 0;
position: relative;
color: #fff;
}

#main {
background: #ccc;
min-height: 400px;
}

#main .grid-wrap {
padding-top: 15px;
}

#main ul li {
  font-size: 16px;
}

#highlighted-left {
display: inline;
float: left;
width: 370px;
}

#highlighted-center {
display: inline;
float: left;
width: 370px;
margin-right: 0;
}

#highlighted-right {
display: inline;
float: left;
margin-right: 0;
}

#pre-footer {
background-color: #eee;
padding: 30px;
}

#pre-footer #pre-footer-bio {
display: inline;
float: left;
margin-right: 20px;
width: 540px;
padding-left: 80px;
margin-left: -40px;
clear: both;
border-right: solid 1px #777;
padding-right: 23px;
font-size: 16px;
}

#pre-footer #pre-footer-connected {
display: inline;
float: left;
margin-right: 20px;
width: 220px;
margin-right: 0;
padding-left: 23px;
font-size: 16px;
}

#footer {
background-color: #0F222B;
min-height: 60px;
color: #A2BA6E;
font-size: 0.9em;
}

#footer-left {
  float: left;
}

#footer-right {
  float: right;
}

#footer a,
#footer a:active,
#footer a:visited {
  color: white;
}

#download {
  display: block;
  text-decoration:none;
  font-weight:bold;
  text-shadow:0 -1px 0 #3d9700;
  color: white;
  font-size: 24px;
  line-height: 54px;
  text-align: center;
  width: 200px;
  height:54px;
  margin: 25px 2px;
  padding:0 1em;
  border:1px solid #004513;
  border-radius:4px;
  background:#7da21a;
  background:-moz-linear-gradient(top,#afe225 0,#7da21a 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#afe225),color-stop(100%,#7da21a));
  background:-webkit-linear-gradient(top,#afe225 0,#7da21a 100%);
  background:-o-linear-gradient(top,#afe225 0,#7da21a 100%);
  background:-ms-linear-gradient(top,#afe225 0,#7da21a 100%);
  background:linear-gradient(top,#afe225 0,#7da21a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#afe225',endColorstr='#7da21a',GradientType=0);
  box-shadow:;
  -webkit-box-shadow:inset 0 2px 0 0 #def67e,0px 2px 5px rgba(0,0,0,.2);
  -moz-box-shadow:inset 0 2px 0 0 #def67e,0px 2px 5px rgba(0,0,0,.2);
  box-shadow:inset 0 2px 0 0 #def67e,0px 2px 5px rgba(0,0,0,.2)
}

#download:hover {
  background:#97bd38;
  background:-moz-linear-gradient(top,#bef038 0,#97bd38 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bef038),color-stop(100%,#97bd38));
  background:-webkit-linear-gradient(top,#bef038 0,#97bd38 100%);
  background:-o-linear-gradient(top,#bef038 0,#97bd38 100%);
  background:-ms-linear-gradient(top,#bef038 0,#97bd38 100%);
  background:linear-gradient(top,#bef038 0,#97bd38 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bef038',endColorstr='#97bd38',GradientType=0)
}
    #download span {
      font-weight:normal
    }
